{% extends "commerce/_layouts/settings" %}

{% set selectedTab = 'settings' %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% if not readOnly is defined %}
    {% exit 422 %}
{% endif %}

{% if readOnly %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% block content %}
    <h2>{{ "Order Fields"|t('commerce') }}</h2>

    <input type="hidden" name="action" value="commerce/order-settings/save">
    {{ redirectInput('commerce/settings/ordersettings') }}

    {{ csrfInput() }}

    {{ forms.fieldLayoutDesignerField({
        fieldLayout: fieldLayout,
        disabled: readOnly,
    }) }}
{% endblock %}
